#main {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    min-height: 100%;
    max-height: 100%;
    padding-top: 40px;
    right: 0;
    left: 0;
    filter: brightness(0.7);
}
.overlay {
    /* position: absolute; */
    height: 100%;
    width: 100%;
    /* background-color: 0, 0, 0, 0.7; */
    bottom: 0;
    left: 0;
}
.inner {
    position: absolute;
    top: 48%;
    left: 40%;
    transform: translate(-50%, -50%);
    padding-top: 180px;
    padding-left: 250px;
}
 .logotoo {
    width: 160px;
    height: 54px;
}
.logo {
    /* color: 'rgb(241, 237, 237)'; */
    text-Align: 'center';
    height: '200px';
    font-Size: '20px';
    font-Family: 'cursive';
    border-Radius: '20px';
    font-Weight: 'bold';
    width: '150%';
    /* backdrop-filter: 'blur(10px)'; */
    /* color: rgb(241, 235, 235); */
}

.logoImage{
    /* min-inline-size: -webkit-fill-availabl; */
     margin-Left: 200px;
     margin-top: -70px;
     filter: drop-shadow(2px 4px 6px black); 
}
#peragraf{
width: 1109px;
height: 133px;
top: 813px;
left: 408px;
border-radius: 21px;
border: 4px;
/* text-align: center; */
font-family: Raleway;
font-size: 20px;
font-weight: 700;
line-height: 23px;
letter-spacing: 0px;
text-align: center;
width: 981px;
height: 150px;
padding: 2% 3% 3% 3%;

/* background: #ffffff; */
/* color:#ffffff; */
line-height:23.48px;
backdrop-filter: blur(5px);
background:linear-gradient( rgba(251, 246, 246, 0.44), rgba(251, 247, 247, 0.44)); 
/* border: 0.5px solid white; */

 border-image-source: linear-gradient(4.9deg, rgba(46, 247, 102, 0.2) 9.54%, rgba(54, 255, 110, 0) 57.67%),
/* linear-gradient(164.62deg, rgba(212, 34, 241, 0.2) 14.27%, rgba(206, 46, 232, 0) 44.4%),
linear-gradient(346.87deg, rgba(235, 27, 27, 0.2) 5.57%, rgba(235, 27, 27, 0) 51.38%), 
radial-gradient(50% 50% at 100% 41.07%, rgba(37, 142, 217, 0.2596) 0%, rgba(37, 142, 217, 0) 100%)  */



}