#card-coach {
  transition: 0.3s;
  /* margin-top: 50px; */
  background-color: aqua;
  border: 4px solid black;
  width: fit-content;
  height:min-content;
  background-color: white;
    height: -webkit-fill-available;
    width: initial;
    display: contents;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width:250px;
  font-family: 'Raleway', sans-serif;
  padding: 10px;
  height: 650px; /* Should be removed. Only for demonstration */
}
.column1 {
  float: left;
  width: 160px;
  padding: 10px;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  margin-top: 50px;
  height: 650px; /* Should be removed. Only for demonstration */
}
.column2 {
  margin-left: 9%;
  width: 290px;
  font-family: 'Raleway', sans-serif;
  padding: 10px;
  margin-top: 50px;
  height: 650px; /* Should be removed. Only for demonstration */
}
.column3 {
  margin-left: 12%;
  display: grid;
  width: 260px;
  font-family: 'Raleway', sans-serif;
  padding: 10px;
  margin-top: 30px;
  height: 650px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.file {
  color: orange;
}
#sp1{
  padding-top: 400px;
  
}
.Usercontainer{
  margin-left: 77%;
    margin-top: -29%;
    display: flexbox;
    width: 20%;
}
.rating {
  font-size: 20px;
  margin: 10px 0;
  color: #FFD700;
}
h1 {
  font-size: 24px;
  font-family: 'Raleway', sans-serif;
  margin: 0;
}

.ratingToo {
  font-size: 20px;
  margin: 10px 0;
}

.stars {
  font-size: 30px;
  margin: 10px 0;
}

.star {
  cursor: pointer;
  margin: 0 5px;
}

.one {
  color: rgb(255, 0, 0);
}

.two {
  color: rgb(255, 106, 0);
}

.three {
  color: rgb(251, 255, 120);
}

.four {
  color: rgb(255, 255, 0);
}

.five {
  color: rgb(24, 159, 14);
}

textarea {
  width: 70%;
  padding: 5px;
  /* border: 1px solid #ccc; */
  border-radius: 4px;
}

button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.reviews {
  margin-top: 20px;
  text-align: left;
}

.review {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin: 10px 0;
}

.review p {
  margin: 0;
}

