.frameChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-42xl);
  background-color: var(--color-deepskyblue-200);
  width: 100%;
  height: 100%;
  display: none;
}
.accurateAdvice,
.genuineCoaches,
.valueForMoney {
  margin: 0;
  position: absolute;
  top: 38px;
  left: 95px;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 337px;
  height: 33px;
  z-index: 1;
}
.accurateAdvice,
.valueForMoney {
  left: 434px;
}
.valueForMoney {
  left: 771px;
  z-index: 2;
}
.frameInner,
.frameItem {
  position: absolute;
  top: 21px;
  left: 434px;
  width: 0;
  height: 68px;
  object-fit: contain;
  z-index: 2;
}
.frameInner {
  left: 771px;
  z-index: 3;
}
.rectangleParent {
  align-self: stretch;
  height: 109px;
  position: relative;
  border-radius: var(--br-42xl);
  background-color: var(--color-deepskyblue-200);
}
.vivekCardChild {
  height: 221.7px;
  width: 397.3px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-lightgray-100);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
  border: 2px solid var(--border);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.maskGroupIcon {
  height: 162.8px;
  width: 162.8px;
  position: relative;
  object-fit: contain;
  z-index: 1;
}
.ratingChild {
  height: 27.2px;
  width: 65.5px;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.15);
  display: none;
  z-index: 1;
}
.div,
.ratingChild,
.starIcon {
  position: relative;
}
.starIcon {
  height: 16.8px;
  width: 18.7px;
  border-radius: var(--br-xl);
  z-index: 2;
}
.div {
  align-self: stretch;
  flex: 1;
  font-weight: 500;
  flex-shrink: 0;
  z-index: 1;
  margin-left: -4px;
}
.rating {
  height: 28px;
  width: 66px;
  margin: 0 !important;
  position: absolute;
  bottom: -14.2px;
  left: calc(50% - 32.5px);
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-4xs) var(--padding-8xs)
    var(--padding-sm);
  box-sizing: border-box;
  z-index: 2;
}
.andreaw,
.maskGroupParent {
  position: relative;
  flex-shrink: 0;
}
.maskGroupParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 163px;
}
.andreaw {
  width: 142.3px;
  height: 20.5px;
  display: inline-block;
  z-index: 1;
}
.englishHindi,
.footballVolleyball {
  align-self: stretch;
  flex: 1;
  position: relative;
  z-index: 1;
}
.englishHindi {
  color: var(--color-gray-800);
}
.ratingStars {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-10xs);
  font-size: var(--reg-size);
}
.free {
  width: 53.8px;
  height: 17.9px;
  position: relative;
  font-size: var(--font-size-smi);
  font-weight: 600;
  color: var(--color-green-200);
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.callButton,
.chatButton {
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.chatButton {
  flex-direction: column;
  gap: var(--gap-6xs);
}
.callButton {
  flex-direction: row;
  padding: 0 var(--padding-lgi) 0 var(--padding-sm);
}
.connectChild {
  height: 32.6px;
  width: 88.4px;
  position: relative;
  border-radius: var(--br-6xl);
  border: 2px solid var(--color-green-100);
  box-sizing: border-box;
  display: none;
}
.callNow {
  align-self: stretch;
  flex: 1;
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.connect,
.connectItem {
  border-radius: var(--br-6xl);
}
.connect {
  align-self: stretch;
  flex: 0.893;
  border: 2px solid var(--color-green-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-xs) var(--padding-6xs)
    var(--padding-sm);
  z-index: 1;
}
.connectItem {
  height: 32.6px;
  width: 88.4px;
  position: relative;
  border: 2px solid var(--color-darkorange-200);
  box-sizing: border-box;
  display: none;
}
.chatNow {
  align-self: stretch;
  flex: 1;
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.connect1,
.frameProduct {
  align-self: stretch;
  display: flex;
  flex-direction: row;
}
.connect1 {
  flex: 1;
  border-radius: var(--br-6xl);
  border: 2px solid var(--color-darkorange-200);
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-4xs) var(--padding-6xs)
    var(--padding-3xs);
  z-index: 1;
  text-align: center;
}
.frameProduct {
  height: 33px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xs);
  font-size: var(--font-size-mini);
  font-family: var(--font-roboto);
}
.frameParent1,
.frameParentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frameParent1 {
  align-self: stretch;
  height: 149px;
  align-items: center;
  gap: var(--gap-xl);
}
.frameParentWrapper {
  flex: 1;
  align-items: flex-start;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
  min-width: 121px;
  flex-shrink: 0;
  text-align: left;
  color: var(--color-black);
  font-family: var(--font-raleway);
}
.vivekCard,
.vivekCardItem {
  border-radius: var(--br-3xs);
  background-color: var(--color-lightgray-100);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
  border: 2px solid var(--border);
  box-sizing: border-box;
  max-width: 100%;
}
.vivekCard {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xl) var(--padding-mid) var(--padding-16xl)
    var(--padding-4xl);
  gap: var(--gap-5xs);
  min-width: 298px;
}
.vivekCardItem {
  height: 221.7px;
  width: 397.3px;
  position: relative;
  display: none;
}
.maskGroupIcon1 {
  height: 162.8px;
  width: 162.8px;
  position: relative;
  object-fit: contain;
  z-index: 1;
}
.ratingItem,
.starIcon1 {
  position: relative;
  border-radius: var(--br-xl);
}
.ratingItem {
  height: 27.2px;
  width: 65.5px;
  background-color: var(--color-white);
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.15);
  display: none;
  z-index: 1;
}
.starIcon1 {
  height: 16.8px;
  width: 18.7px;
  z-index: 2;
}
.div1 {
  align-self: stretch;
  flex: 1;
  position: relative;
  font-weight: 500;
  flex-shrink: 0;
  z-index: 1;
  margin-left: -4px;
}
.rating1 {
  height: 28px;
  width: 66px;
  margin: 0 !important;
  position: absolute;
  bottom: -14.2px;
  left: calc(50% - 32.5px);
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-4xs) var(--padding-8xs)
    var(--padding-sm);
  box-sizing: border-box;
  z-index: 2;
}
.andreaw1,
.maskGroupGroup {
  position: relative;
  flex-shrink: 0;
}
.maskGroupGroup {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 163px;
}
.andreaw1 {
  width: 142.3px;
  height: 20.5px;
  display: inline-block;
  z-index: 1;
}
.englishTelegu,
.football {
  align-self: stretch;
  flex: 1;
  position: relative;
  z-index: 1;
}
.englishTelegu {
  color: var(--color-gray-800);
}
.footballParent {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-10xs);
  font-size: var(--reg-size);
}
.counselingAdviceIcon {
  height: 11px;
  width: 8px;
  position: relative;
  z-index: 1;
}
.min,
.productCoaches {
  align-self: stretch;
  flex: 1;
}
.min {
  position: relative;
  z-index: 1;
}
.productCoaches {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-10xs);
}
.andreawParent,
.frameWrapper,
.productCoachesWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.productCoachesWrapper {
  width: 75px;
  height: 18px;
  flex-direction: row;
  padding: 0 var(--padding-8xs);
  box-sizing: border-box;
  font-size: var(--font-size-smi);
  color: var(--color-darkorange-200);
  font-family: var(--font-roboto);
}
.andreawParent,
.frameWrapper {
  align-self: stretch;
  flex: 1;
}
.andreawParent {
  flex-direction: column;
  gap: var(--gap-6xs);
}
.frameWrapper {
  flex-direction: row;
  padding: 0 var(--padding-lgi) 0 var(--padding-sm);
}
.connectInner {
  height: 32.6px;
  width: 88.4px;
  position: relative;
  border-radius: var(--br-6xl);
  border: 2px solid var(--color-green-100);
  box-sizing: border-box;
  display: none;
}
.callNow1 {
  align-self: stretch;
  flex: 1;
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.connect2,
.rectangleDiv {
  border-radius: var(--br-6xl);
}
.connect2 {
  align-self: stretch;
  flex: 0.8295;
  border: 2px solid var(--color-green-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-xs) var(--padding-6xs)
    var(--padding-sm);
  z-index: 1;
}
.rectangleDiv {
  height: 32.6px;
  width: 88.4px;
  position: relative;
  border: 2px solid var(--color-darkorange-200);
  box-sizing: border-box;
  display: none;
}
.chatNow1 {
  align-self: stretch;
  width: 67.9px;
  position: relative;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.connect3,
.connectParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
}
.connect3 {
  flex: 1;
  border-radius: var(--br-6xl);
  border: 2px solid var(--color-darkorange-200);
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-6xs) var(--padding-6xs);
  z-index: 1;
  text-align: center;
}
.connectParent {
  height: 33px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xs);
  font-size: var(--font-size-mini);
  font-family: var(--font-roboto);
}
.frameGroup,
.vivekCardInner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frameGroup {
  align-self: stretch;
  height: 150px;
  align-items: center;
  gap: var(--gap-xl);
}
.vivekCardInner {
  flex: 1;
  align-items: flex-start;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
  min-width: 121px;
  flex-shrink: 0;
  text-align: left;
  color: var(--color-black);
  font-family: var(--font-raleway);
}
.vivekCard1,
.vivekCardChild1 {
  border-radius: var(--br-3xs);
  background-color: var(--color-lightgray-100);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
  border: 2px solid var(--border);
  box-sizing: border-box;
  max-width: 100%;
}
.vivekCard1 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xl) var(--padding-mid) var(--padding-16xl)
    var(--padding-4xl);
  gap: var(--gap-5xs);
  min-width: 298px;
}
.vivekCardChild1 {
  height: 221.7px;
  width: 397.3px;
  position: relative;
  display: none;
}
.maskGroupIcon2 {
  height: 162.8px;
  width: 162.8px;
  position: relative;
  object-fit: contain;
  z-index: 1;
}
.ratingInner,
.starIcon2 {
  position: relative;
  border-radius: var(--br-xl);
}
.ratingInner {
  height: 27.2px;
  width: 65.5px;
  background-color: var(--color-white);
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.15);
  display: none;
  z-index: 1;
}
.starIcon2 {
  height: 16.8px;
  width: 18.7px;
  z-index: 2;
}
.div2 {
  align-self: stretch;
  flex: 1;
  position: relative;
  font-weight: 500;
  flex-shrink: 0;
  z-index: 1;
  margin-left: -4px;
}
.rating2 {
  height: 28px;
  width: 66px;
  margin: 0 !important;
  position: absolute;
  bottom: -14.2px;
  left: calc(50% - 32.5px);
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-4xs) var(--padding-8xs)
    var(--padding-sm);
  box-sizing: border-box;
  z-index: 2;
}
.andreaw2,
.maskGroupContainer {
  position: relative;
  flex-shrink: 0;
}
.maskGroupContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 163px;
}
.andreaw2 {
  width: 142.3px;
  height: 20.5px;
  display: inline-block;
  z-index: 1;
}
.englishHindi1,
.footballCricket {
  align-self: stretch;
  position: relative;
  z-index: 1;
}
.footballCricket {
  height: 20.5px;
  display: inline-block;
  flex-shrink: 0;
}
.englishHindi1 {
  flex: 1;
}
.vectorMinIcon {
  height: 11px;
  width: 8px;
  position: relative;
  z-index: 1;
}
.frameFrame,
.min1 {
  align-self: stretch;
  flex: 1;
}
.min1 {
  position: relative;
  z-index: 1;
}
.frameFrame {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-10xs);
}
.connectButtons,
.englishHindiParent {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.connectButtons {
  width: 75px;
  flex-direction: row;
  padding: 0 var(--padding-8xs);
  box-sizing: border-box;
  font-size: var(--font-size-smi);
  color: var(--color-darkorange-200);
  font-family: var(--font-roboto);
}
.englishHindiParent {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-6xs);
  color: var(--color-gray-800);
}
.footballCricketParent {
  flex-direction: column;
  gap: var(--gap-10xs);
  font-size: var(--reg-size);
}
.andreawGroup,
.footballCricketParent,
.frameWrapper1 {
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.andreawGroup {
  flex-direction: column;
  gap: var(--gap-6xs);
}
.frameWrapper1 {
  flex-direction: row;
  padding: 0 var(--padding-lgi) 0 var(--padding-sm);
}
.connectChild1 {
  height: 32.6px;
  width: 88.4px;
  position: relative;
  border-radius: var(--br-6xl);
  border: 2px solid var(--color-green-100);
  box-sizing: border-box;
  display: none;
}
.callNow2 {
  align-self: stretch;
  flex: 1;
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.connect4,
.connectChild2 {
  border-radius: var(--br-6xl);
}
.connect4 {
  align-self: stretch;
  flex: 0.8295;
  border: 2px solid var(--color-green-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-xs) var(--padding-6xs)
    var(--padding-sm);
  z-index: 1;
}
.connectChild2 {
  height: 32.6px;
  width: 88.4px;
  position: relative;
  border: 2px solid var(--color-darkorange-200);
  box-sizing: border-box;
  display: none;
}
.chatNow2 {
  align-self: stretch;
  width: 67.9px;
  position: relative;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.connect5,
.connectGroup {
  align-self: stretch;
  display: flex;
  flex-direction: row;
}
.connect5 {
  flex: 1;
  border-radius: var(--br-6xl);
  border: 2px solid var(--color-darkorange-200);
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-6xs) var(--padding-6xs);
  z-index: 1;
  text-align: center;
}
.connectGroup {
  height: 33px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xs);
  font-size: var(--font-size-mini);
  font-family: var(--font-roboto);
}
.frameContainer,
.frameDiv {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frameContainer {
  align-self: stretch;
  height: 151px;
  align-items: center;
  gap: var(--gap-xl);
}
.frameDiv {
  flex: 1;
  align-items: flex-start;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
  min-width: 121px;
  flex-shrink: 0;
  text-align: left;
  color: var(--color-black);
  font-family: var(--font-raleway);
}
.frameParent,
.vivekCard2,
.vivekCardParent {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.vivekCard2 {
  flex: 1;
  border-radius: var(--br-3xs);
  background-color: var(--color-lightgray-100);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
  border: 2px solid var(--border);
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-5xl) var(--padding-mid) var(--padding-16xl)
    var(--padding-4xl);
  gap: var(--gap-5xs);
  min-width: 298px;
}
.frameParent,
.vivekCardParent {
  align-self: stretch;
  align-items: flex-start;
}
.vivekCardParent {
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-15xl);
  font-size: var(--semi-bold-size);
  color: var(--color-gray-400);
  font-family: var(--reg);
}
.frameParent {
  flex-direction: column;
  padding: 0 0 var(--padding-8xs);
  box-sizing: border-box;
  gap: var(--gap-7xl);
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
@media screen and (max-width: 900px) {
  .accurateAdvice,
  .genuineCoaches,
  .valueForMoney {
    font-size: var(--font-size-13xl);
  }
  .vivekCardParent {
    gap: var(--gap-15xl);
  }
}
@media screen and (max-width: 450px) {
  .accurateAdvice,
  .genuineCoaches,
  .valueForMoney {
    font-size: var(--font-size-5xl);
  }
  .maskGroupIcon,
  .maskGroupParent {
    flex: 1;
  }
  .vivekCard {
    flex-wrap: wrap;
  }
  .maskGroupGroup,
  .maskGroupIcon1 {
    flex: 1;
  }
  .vivekCard1 {
    flex-wrap: wrap;
  }
  .maskGroupContainer,
  .maskGroupIcon2 {
    flex: 1;
  }
  .vivekCard2 {
    flex-wrap: wrap;
  }
}
