.frameSecureBoxChild {
  height: 408px;
  width: 1917px;
  position: relative;
  background-color: var(--color-gainsboro-100);
  display: none;
  max-width: 100%;
}
.lockupColor1 {
  height: 139px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: 1;
}
.frameCricketFootballTennis {
  width: 231px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-5xs);
  box-sizing: border-box;
}
.athletesAcademy {
  margin: 0;
  font-weight: 500;
}
.atAthletesAcademy {
  margin: 0;
}
.athletesAcademyContainer {
  align-self: stretch;
  height: 95px;
  position: relative;
  line-height: 161%;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.rectangleLockupColor {
  width: 464px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xl);
  min-width: 464px;
  max-width: 100%;
}
.product {
  margin: 0;
  width: 101px;
  flex: 1;
  position: relative;
  font-size: inherit;
  letter-spacing: 1px;
  line-height: 161%;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  z-index: 1;
}
.coachAdvice,
.counseling {
  margin: 0;
}
.counselingCoachAdvice {
  align-self: stretch;
  flex: 1;
  position: relative;
  font-size: var(--semi-bold-size);
  line-height: 184%;
  font-family: var(--font-raleway);
  z-index: 1;
}
.productCoaches {
  height: 78px;
  width: 111px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.coaches {
  margin: 0;
  width: 101px;
  height: 32px;
  position: relative;
  font-size: inherit;
  letter-spacing: 1px;
  line-height: 161%;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.athletics,
.basketball,
.boxing,
.cricket,
.football,
.more,
.skating,
.tennis,
.yoga {
  margin: 0;
}
.more {
  font-size: var(--font-size-mini);
  text-decoration: underline;
  font-weight: 300;
  color: var(--color-deepskyblue-100);
}
.cricketFootballTennisContainer {
  align-self: stretch;
  flex: 1;
  position: relative;
  line-height: 184%;
  z-index: 1;
  font-size: var(--semi-bold-size);
  font-family: var(--font-raleway);
}
.productCoaches1 {
  height: 306px;
  width: 111px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.company {
  margin: 0;
  align-self: stretch;
  height: 32px;
  position: relative;
  font-size: inherit;
  letter-spacing: 1px;
  line-height: 161%;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.joinUs,
.privacyPolicy,
.termsOfUse {
  margin: 0;
}
.privacyPolicyTermsContainer {
  width: 111px;
  flex: 1;
  position: relative;
  font-size: var(--semi-bold-size);
  line-height: 184%;
  font-family: var(--font-raleway);
  display: inline-block;
  z-index: 1;
}
.chatSupport,
.textCompanyName {
  display: flex;
  align-items: flex-start;
}
.textCompanyName {
  height: 132px;
  width: 120px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.chatSupport {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frameProductAndCoaches,
.groupChatSupportClickTo {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.groupChatSupportClickTo {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-6xs) 0 0;
  box-sizing: border-box;
  min-width: 350px;
  font-size: var(--font-size-5xl);
  font-family: var(--font-radley);
}
.frameProductAndCoaches {
  width: 1045px;
  flex-direction: row;
  gap: var(--gap-24xl);
  font-size: var(--semi-bold-size);
  font-family: var(--font-raleway);
}
.contactUs {
  margin: 0;
  width: 131px;
  height: 32px;
  position: relative;
  font-size: inherit;
  letter-spacing: 1px;
  line-height: 161%;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.clickToStart {
  color: var(--color-deepskyblue-100);
}
.weAreAvailable24X7OnCha {
  margin: 0;
}
.emailId {
  color: var(--color-black);
}
.emailIdNdsdndsnndkncom {
  margin: 0;
  color: var(--color-deepskyblue-100);
}
.weAreAvailableContainer {
  align-self: stretch;
  flex: 1;
  position: relative;
  line-height: 184%;
  white-space: pre-wrap;
  z-index: 1;
}
.chatSupportChild,
.chatSupportItem {
  width: 18px;
  position: absolute;
  margin: 0 !important;
  left: 4px;
  z-index: 2;
}
.chatSupportChild {
  height: 14px;
  bottom: 6px;
}
.chatSupportItem {
  height: 18px;
  top: 3px;
}
.chatSupport1 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
}
.facebookIcon,
.instagramIcon,
.linkedinIcon,
.youtubeIcon {
  height: 32px;
  width: 32px;
  position: relative;
  min-height: 32px;
  z-index: 1;
}
.socialMediaLinks {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.chatSupportButtons {
  align-self: stretch;
  flex: 1;
  gap: var(--gap-4xl);
  font-size: var(--semi-bold-size);
  font-family: var(--font-raleway);
}
.chatSupportButtons,
.frameSecurePrivateConfident,
.groupSocialMediaIcons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameSecurePrivateConfident {
  align-self: stretch;
  flex: 1;
  gap: var(--gap-sm);
}
.groupSocialMediaIcons {
  height: 198px;
  width: 266px;
  padding: var(--padding-2xs) 0 0;
  box-sizing: border-box;
}
.secure {
  width: 120px;
  height: 32px;
  position: relative;
  font-size: inherit;
  letter-spacing: 1px;
  line-height: 161%;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.privateConfidential,
.secure,
.securePayments,
.verifiedCoaches {
  margin: 0;
}
.privateConfidentialContainer {
  align-self: stretch;
  flex: 1;
  position: relative;
  line-height: 184%;
  white-space: pre-wrap;
  z-index: 1;
}
.confidentialCoachesChild {
  height: 22.7px;
  width: 21px;
  position: absolute;
  margin: 0 !important;
  bottom: 29.3px;
  left: 2px;
  z-index: 2;
}
.confidentialCoachesItem {
  height: 18px;
  width: 14px;
  position: absolute;
  margin: 0 !important;
  top: 3px;
  left: 4px;
  z-index: 2;
}
.confidentialCoachesInner {
  height: 18.6px;
  width: 14.4px;
  position: absolute;
  margin: 0 !important;
  bottom: 4.4px;
  left: 4.8px;
  z-index: 2;
}
.confidentialCoaches {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: var(--semi-bold-size);
  font-family: var(--font-raleway);
}
.secureParent,
.secureServicesInner {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.secureParent {
  height: 132px;
  gap: var(--gap-sm);
}
.secureServicesInner {
  flex: 1;
}
.secureServicesChild {
  height: 37px;
  width: 37px;
  position: relative;
  z-index: 1;
}
.secureServices {
  height: 349px;
  width: 270px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-9xl);
}
.frameSecureBox {
  align-self: stretch;
  background-color: var(--color-gainsboro-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-2xl) var(--padding-33xl) var(--padding-19xl)
    var(--padding-69xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-radley);
}
@media screen and (max-width: 1800px) {
  .frameSecureBox {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1350px) {
  .rectangleLockupColor {
    flex: 1;
  }
  .frameProductAndCoaches {
    flex-wrap: wrap;
  }
  .frameSecureBox {
    padding-left: var(--padding-25xl);
    padding-right: var(--padding-7xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 900px) {
  .groupChatSupportClickTo,
  .rectangleLockupColor {
    min-width: 100%;
  }
  .frameProductAndCoaches {
    gap: var(--gap-24xl);
  }
  .frameSecureBox {
    padding-left: var(--padding-3xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .coaches,
  .company,
  .product {
    font-size: var(--font-size-lgi);
    line-height: 31px;
  }
  .chatSupport {
    flex-wrap: wrap;
  }
  .contactUs,
  .secure {
    font-size: var(--font-size-lgi);
    line-height: 31px;
  }
  .frameSecureBox {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-6xl);
    box-sizing: border-box;
  }
}
