.orSignIn {
  position: relative;
}
.frameChild,
.frameInner,
.frameItem {
  height: 65px;
  width: 65px;
  position: relative;
  min-height: 65px;
}
.frameParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 var(--padding-12xs) 0 0;
  gap: var(--gap-xl);
}
.signUpFrame {
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-2xl);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
@media screen and (max-width: 450px) {
  .orSignIn {
    font-size: var(--semi-bold-size);
  }
}
